body {
    background-color: #121212;
}

h1, h2, h3, p {
    color: #EEEEEE;
}

h2, h1 {
    width: 200px;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    font-size: 20px;
}

#games, #albums {
    background-color: #212121;
    width: 95%;
}

a {
    font-size: 25px;
}